.container {
    background-color: blanchedalmond;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__button {
    width: 200px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: powderblue;
    transition: background-color 0.5s;
}

.container__button:hover {
    background-color: gold;
}

.container__button--active {
    width: 200px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: rgb(2, 98, 110);
    transition: background-color 0.5s;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
}